@import './fonts.less';

body {
  font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
  font-size: 14Px;
  color: #656b79;
  background-color: #fff;
}
html, body, #docs {
  height: 100%;
}
div {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: 100%;
}
body, p, ul, li {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
* {
  outline: none;
}
.md {
  padding: 0 10Px;
}
.docs-view {
  display: flex;
  border-top: 1Px solid #DDD;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  flex-wrap: wrap;
}
section {
  position: relative;
  height: inherit;
  overflow: auto;
  box-sizing: border-box;
  &.nav {
    width: 280Px;
    border-right: 1Px solid #DDD;
  }
  &.md {
    position: relative;
    flex: 1;
    height: 100%;
    padding: 54px 30px 30px;
    box-sizing: border-box;
    overflow-y: auto;
  }
  &.phone {
    width: 450Px;
    height: 100%;
    overflow-y: auto;
  }
  .example {
    position: absolute;
    transform: translate(0, -50%);
    top: 45%;
  }
}